@media only screen and (max-width:800px) {
.tables_top {
 flex-direction: column;
 width:100%;
 }

 .pet_overview_section .pet_section {
     width:89%;
     display: flex;
     flex-direction: column;
 }

 .pet_calendar_div {
    margin: 20%;
 }

 .feeding_info {
     margin: 5%;

 }

 footer {
     display: none;
 }

}